<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LearningCatalog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1F9D3CF1BB282DD00AEBBD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1F9D3E31BB282DE00AEBBD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1F9D3EE1BB282DE00AEBBD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
